.topbar {
  width: 100%;
  height: 50px;
  background-color: #fff;
}
.topbar .topbar_wrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topbar .topbar_wrapper .top_left .logo {
  font-weight: bold;
  font-size: 30px;
  color: darkblue;
  cursor: pointer;
}
