.widget_large {
  flex: 2;
  box-shadow: 1px 0px 11px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 0px 11px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 0px 11px -1px rgba(0, 0, 0, 0.75);
  padding: 20px;
}
.widget_large_title {
  font-size: 22px;
  font-weight: 600;
}
.widget_large_img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.widget_large_button {
  padding: 8px 10px;
  border: none;
  border-radius: 10px;
}
.Approved {
  background-color: #e5faf2;
  color: #3bb077;
}
.Declined {
  background-color: #fff0f1;
  color: #d95087;
}
.Pending {
  background-color: #ebf1fe;
  color: #2a7ade;
}
.widget_large_table {
  width: 100%;
  border-spacing: 20px;
}
.widget_large_user {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.widget_large_th {
  text-align: left;
}
.widget_large_name {
}
.widget_large_date,
.widget_large_amount {
  font-weight: 300;
}
.widget_large_status {
}
